BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> cb1573593edc

CREATE TABLE branches (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(20) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (code)
);

CREATE TABLE subjects (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    semester INTEGER NOT NULL, 
    branch_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id)
);

CREATE TABLE modules (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    subject_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(subject_id) REFERENCES subjects (id)
);

CREATE TYPE material_type AS ENUM ('PYQ', 'Short Notes', 'PPT', 'Textbook');

CREATE TABLE materials (
    id SERIAL NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    type material_type NOT NULL, 
    file_url VARCHAR(500) NOT NULL, 
    module_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(module_id) REFERENCES modules (id)
);

INSERT INTO alembic_version (version_num) VALUES ('cb1573593edc') RETURNING alembic_version.version_num;

-- Running upgrade cb1573593edc -> 66b749355beb

CREATE TABLE experiments (
    id SERIAL NOT NULL, 
    experiment_number INTEGER NOT NULL, 
    title VARCHAR(200) NOT NULL, 
    subject_id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(subject_id) REFERENCES subjects (id)
);

ALTER TABLE materials ADD COLUMN experiment_id INTEGER;

ALTER TABLE materials ALTER COLUMN module_id DROP NOT NULL;

ALTER TABLE materials ADD FOREIGN KEY(experiment_id) REFERENCES experiments (id);

ALTER TABLE subjects ADD COLUMN has_theory BOOLEAN DEFAULT true NOT NULL;

ALTER TABLE subjects ADD COLUMN has_lab BOOLEAN DEFAULT false NOT NULL;

ALTER TYPE material_type ADD VALUE IF NOT EXISTS 'Lab Manual';

ALTER TYPE material_type ADD VALUE IF NOT EXISTS 'Practical Code';

ALTER TABLE materials ADD CONSTRAINT ck_materials_module_xor_experiment CHECK ((module_id IS NOT NULL AND experiment_id IS NULL) OR (module_id IS NULL AND experiment_id IS NOT NULL));

UPDATE alembic_version SET version_num='66b749355beb' WHERE alembic_version.version_num = 'cb1573593edc';

-- Running upgrade 66b749355beb -> 3e75e1c45246

CREATE TYPE user_role AS ENUM ('superadmin', 'branch_admin');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    role user_role NOT NULL, 
    branch_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(branch_id) REFERENCES branches (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

UPDATE alembic_version SET version_num='3e75e1c45246' WHERE alembic_version.version_num = '66b749355beb';

-- Running upgrade 3e75e1c45246 -> 79fb4e314b08

ALTER TABLE modules RENAME name TO title;

UPDATE modules SET title = regexp_replace(title, '^Module\s+\d+\s*:\s*', '');

ALTER TABLE modules ADD COLUMN position INTEGER;

UPDATE modules m
        SET position = sub.rn
        FROM (
            SELECT id, ROW_NUMBER() OVER (PARTITION BY subject_id ORDER BY id) AS rn
            FROM modules
        ) sub
        WHERE m.id = sub.id;

ALTER TABLE modules ALTER COLUMN position SET NOT NULL;

UPDATE alembic_version SET version_num='79fb4e314b08' WHERE alembic_version.version_num = '3e75e1c45246';

-- Running upgrade 79fb4e314b08 -> 4abca63218a4

ALTER TYPE material_type ADD VALUE IF NOT EXISTS 'Notes';

UPDATE alembic_version SET version_num='4abca63218a4' WHERE alembic_version.version_num = '79fb4e314b08';

-- Running upgrade 4abca63218a4 -> 2f6c01170f1f

CREATE TYPE exam_type AS ENUM ('End Sem', 'TT1', 'TT2');

CREATE TABLE pyqs (
    id SERIAL NOT NULL, 
    subject_id INTEGER NOT NULL, 
    exam_type exam_type NOT NULL, 
    year INTEGER NOT NULL, 
    file_url VARCHAR(500) NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(subject_id) REFERENCES subjects (id)
);

INSERT INTO pyqs (subject_id, exam_type, year, file_url)
        SELECT
            COALESCE(mod.subject_id, exp.subject_id),
            (CASE
                WHEN m.title ILIKE '%TT1%' THEN 'TT1'
                WHEN m.title ILIKE '%TT2%' THEN 'TT2'
                ELSE 'End Sem'
            END)::exam_type,
            COALESCE((regexp_match(m.title, '(20\d{2})'))[1]::int, EXTRACT(year FROM now())::int),
            m.file_url
        FROM materials m
        LEFT JOIN modules mod ON m.module_id = mod.id
        LEFT JOIN experiments exp ON m.experiment_id = exp.id
        WHERE m.type = 'PYQ';

DELETE FROM materials WHERE type = 'PYQ';

ALTER TYPE material_type RENAME TO material_type_old;

CREATE TYPE material_type AS ENUM ('Notes', 'Short Notes', 'PPT', 'Textbook', 'Lab Manual', 'Practical Code');

ALTER TABLE materials ALTER COLUMN type TYPE material_type USING type::text::material_type;

DROP TYPE material_type_old;

UPDATE alembic_version SET version_num='2f6c01170f1f' WHERE alembic_version.version_num = '4abca63218a4';

COMMIT;

